body{
    background-color: rgba(255, 242, 124, 0.875);
    
    

}
.background-over{
    background-image: url(./images/fall-floral-background-free-vector.jpg);
    position: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
h1{

    text-align: center;
    padding-left: 200px;
    color: rgb(184, 87, 2);
}

.header-content{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(241, 224, 110);

}
nav{
    display: flex;
    justify-content: space-evenly;
    color: rgb(100, 32, 12);
    gap: 15px;
  
   
}
nav ul{
    list-style: none;
   
}
nav ul li{
    display: inline;
}

nav ul li a:hover {
    color: #666; /* Changes color on hover */
}

.add{
    margin-top: 0%;
    padding:10px ;
    background-image:url("./images/bernie-beigne-5.jpg");
    color: rgb(202, 91, 0);
    text-decoration:double;
font-size:larger;
font-weight: 700;
font-style: oblique;
background-size: cover;
background-blend-mode:soft-light;
image-rendering:inherit;
}
.item img{
    width: 200px;
}
.item{
    display: flex;
    align-items: flex-start;
    display: inline-block;
   position: relative;
   justify-content: space-around;
   background-color: rgba(0, 0, 255, 0);
}